<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>社員基本情報詳細画面</title>
<style>
body {
	background: url(background.jpg);
	background-size: cover;
}

table {
	border-collapse: collapse;
	width: 600px;
}

td {
	line-height: 50px;
}

#div1 {
	text-align: right;
	margin-right: 20%;
}

.btn {
	width: 100px;
	align: center;
}
</style>
</head>
<body>
	<header>
		<h1 th:text="社員基本情報詳細画面"></h1>
		<hr>
	</header>
	<div id="div1">
		<form>
			<a th:href="@{/login}"><input type="button" value="ログアウト"
				class="btn" /></a>
		</form>
	</div>
	<div align="center">
		<table>
			<tr>
				<td th:text="#{employeeId}"></td>
				<td th:text="${empinfo.empCd}" /></td>
			</tr>
			<tr>
				<td th:text="#{name}"></td>
				<td th:text="${empinfo.name}" /></td>
			</tr>
			<tr>
				<td th:text="#{sex}"></td>
				<td th:text="${empinfo.sex.sexName}" /></td>
			</tr>
			<tr>
				<td th:text="#{birthday}"></td>
				<td th:text="${empinfo.birthday}"></td>
			</tr>
			<tr>
				<td th:text="#{nationality}"></td>
				<td th:text="${empinfo.country.countryName}" />
			</tr>
		</table>
		<br>
		<div align="center">
			<a th:href="@{/empList}"><input type="button" value="戻る"
				class="btn" /></a>
		</div>
		<footer>
			<hr>
			<h4>Softusing.co.jp</h4>
		</footer>
</body>
</html>